name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened ]
jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    env:
      MONO_FRAMEWORK_PATH: /usr/lib/mono
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            3.0.x
            3.1.x
            5.0.x
            6.0.x
            7.0.x
            8.0.x
            9.0.x
      - name: Setup Tree pre-requisites
        run: sudo apt-get install tree unzip --assume-yes
      - name: Setup latest Mono Framework
        run: |
          sudo apt install ca-certificates gnupg --assume-yes
          sudo gpg --homedir /tmp --no-default-keyring --keyring /usr/share/keyrings/mono-official-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
          echo "deb [signed-by=/usr/share/keyrings/mono-official-archive-keyring.gpg] https://download.mono-project.com/repo/ubuntu stable-focal main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
          sudo apt update
          
          wget https://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          sudo dpkg -i libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          
          sudo apt install mono-complete mono-vbnc mono-dbg gdb libssl3
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ./.sonar/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          New-Item -Path ./.sonar/scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path ./.sonar/scanner 
      - name: Remove ApplicationTest
        shell: bash
        run: |
          find src/ApplicationTest -name "*.*proj" -exec dotnet sln src remove {} \;
          rm -rf src/ApplicationTest

      - name: Clean test results
        run: rm -rf TestResults/
      - name: Build and analyze Sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: pwsh
        run: |
          ./.sonar/scanner/dotnet-sonarscanner begin /k:"josephmoresena_PInvoke.Extensions" /o:"josephmoresena" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.scanner.scanAll=false /d:sonar.coverage.exclusions="**Test.cs,**Tests.cs,**test.cs,**tests.cs,**.SourceGenerator/*.cs" /d:sonar.cs.vstest.reportsPaths=TestResults/*.trx /d:sonar.cs.opencover.reportsPaths=TestResults/*/coverage.opencover.xml /d:sonar.cpd.exclusions="**/NativeUtilities/**FixedAction.cs,**/NativeUtilities/**FixedFunc.cs,**/IManagedBinaryBuffer/StaticCompose.cs,**Test/**Tests**/**.cs,**/Localization/**MessageResource.cs"
          dotnet restore src 
          dotnet build src /p:MultipleFrameworkTest=true --configuration Release 
          dotnet test src /p:MultipleFrameworkTest=true --verbosity normal --collect:"XPlat Code Coverage" --results-directory TestResults/  --logger "trx;verbosity=detailed" --no-build --no-restore --configuration Release -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover 
          ./.sonar/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
      - name: Pack assembly
        working-directory: ./package/Rxmxnx.PInvoke.Extensions
        run: |
          dotnet pack -c Release /p:Version=9999.99.99.99-tmp /p:NoIntermediateBuild=true /p:UseEmbeddedDebugSymbols=false
          for package in bin/Release/Rxmxnx.PInvoke.Extensions*.*nupkg; do
            echo "-----------------------------------"
            TEMP_DIR=$(mktemp -d)
            unzip -q "$package" -d "$TEMP_DIR"
            ls -sh "$package"
            tree "$TEMP_DIR" -h --noreport | tail -n +2 | sed "s|$TEMP_DIR/||"
            rm -rf "$TEMP_DIR"
          done
          echo "-----------------------------------"
  run-tests:
    needs: [ build ]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2025, ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: APT deb822 sources
        if: runner.os == 'Linux'
        run: |
          if [[ $ImageOS == "ubuntu24" ]]; then
           sudo bash -c 'cat > /etc/apt/sources.list.d/ubuntu.sources <<EOF
          Types: deb
          URIs: https://archive.ubuntu.com/ubuntu/
          Suites: noble
          Components: main restricted universe
          Architectures: amd64
          
          Types: deb
          URIs: https://security.ubuntu.com/ubuntu/
          Suites: noble-security
          Components: main restricted universe
          Architectures: amd64
          
          Types: deb
          URIs: https://archive.ubuntu.com/ubuntu/
          Suites: noble-updates
          Components: main restricted universe
          Architectures: amd64
          
          Types: deb
          URIs: https://azure.ports.ubuntu.com/ubuntu-ports/
          Suites: noble
          Components: main restricted multiverse universe
          Architectures: arm64
          
          Types: deb
          URIs: https://azure.ports.ubuntu.com/ubuntu-ports/
          Suites: noble-updates
          Components: main restricted multiverse universe
          Architectures: arm64
          
          Types: deb
          URIs: https://azure.ports.ubuntu.com/ubuntu-ports/
          Suites: noble-updates
          Components: main restricted multiverse universe
          Architectures: armhf
          EOF'
          fi
      - name: Setup NativeAOT pre-requisites
        if: runner.os == 'Linux'
        run: |
          sudo dpkg --add-architecture arm64
          sudo dpkg --add-architecture armhf
          
          sudo bash -c 'cat > /etc/apt/sources.list.d/arm64.list <<EOF
          deb [arch=arm64] https://ports.ubuntu.com/ubuntu-ports/ noble main restricted
          deb [arch=arm64] https://ports.ubuntu.com/ubuntu-ports/ noble-updates main restricted
          deb [arch=arm64] https://ports.ubuntu.com/ubuntu-ports/ noble-backports main restricted universe multiverse
          EOF'
          
          sudo bash -c 'cat > /etc/apt/sources.list.d/armhf.list <<EOF
          deb [arch=armhf] https://ports.ubuntu.com/ubuntu-ports/ noble main restricted
          deb [arch=armhf] https://ports.ubuntu.com/ubuntu-ports/ noble-updates main restricted
          deb [arch=armhf] https://ports.ubuntu.com/ubuntu-ports/ noble-backports main restricted universe multiverse
          EOF'
          
          sudo sed -i -e 's/deb http/deb [arch=amd64] http/g' /etc/apt/sources.list
          sudo sed -i -e 's/deb mirror/deb [arch=amd64] mirror/g' /etc/apt/sources.list
          
          sudo apt install ca-certificates gnupg --assume-yes
          sudo gpg --homedir /tmp --no-default-keyring --keyring /usr/share/keyrings/mono-official-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
          echo "deb [signed-by=/usr/share/keyrings/mono-official-archive-keyring.gpg] https://download.mono-project.com/repo/ubuntu stable-focal main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
          
          wget https://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          sudo dpkg -i libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          rm libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          
          sudo apt update 
          sudo apt upgrade --assume-yes
          sudo apt-get install clang llvm zlib1g-dev libkrb5-dev libssl-dev \
            qemu-user qemu-user-static binfmt-support libicu74:arm64 libicu74:armhf \
            binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu zlib1g-dev:arm64 libssl-dev:arm64 \
            binutils-arm-linux-gnueabihf gcc-arm-linux-gnueabihf zlib1g-dev:armhf libssl-dev:armhf \
            mono-complete mono-vbnc mono-dbg gdb libssl3 \
            --assume-yes

          sudo mkdir -p /usr/share/dotnet
          sudo chown -R $(whoami):$(whoami) /usr/share/dotnet
      - name: Setup Mono Development Kit
        if: runner.os == 'MacOS'
        run: |
          brew install --cask mono-mdk
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        if: runner.os != 'Windows'
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
      - name: Setup .NET x86
        if: runner.os == 'Windows'
        run: |
          winget install Microsoft.DotNet.SDK.6  --architecture x86 --silent --force --disable-interactivity --accept-source-agreements 
          winget install Microsoft.DotNet.SDK.7 --architecture x86 --silent --force --disable-interactivity --accept-source-agreements 
          winget install Microsoft.DotNet.SDK.8 --architecture x86 --silent --force --disable-interactivity --accept-source-agreements  
          winget install Microsoft.DotNet.SDK.9 --architecture x86 --silent --force --disable-interactivity --accept-source-agreements 
      - name: Setup .NET x64
        if: runner.os == 'Windows'
        run: |
          winget install Mono.Mono --architecture x64 --silent --force --disable-interactivity --accept-source-agreements
          winget install Microsoft.DotNet.SDK.6 --architecture x64 --silent --force --disable-interactivity --accept-source-agreements
          winget install Microsoft.DotNet.SDK.7 --architecture x64 --silent --force --disable-interactivity --accept-source-agreements
          winget install Microsoft.DotNet.SDK.8 --architecture x64 --silent --force --disable-interactivity --accept-source-agreements
          winget install Microsoft.DotNet.SDK.9 --architecture x64 --silent --force --disable-interactivity --accept-source-agreements
          winget install Microsoft.DotNet.SDK.9 --architecture x64 --silent --force --disable-interactivity --accept-source-agreements
      - name: Build tests
        run: |
          dotnet restore src --ignore-failed-sources
          dotnet build src /p:MultipleFrameworkTest=true /p:OnlySupportedFrameworkTest=true --configuration Release
      - name: Windows x86 tests
        if: runner.os == 'Windows'
        run: |
          dotnet test src /p:MultipleFrameworkTest=true /p:OnlySupportedFrameworkTest=true --no-build --no-restore --configuration Release  --logger "console;verbosity=detailed" --settings src\Test\x86.runsettings
      - name: Run tests
        run: |
          dotnet test src /p:MultipleFrameworkTest=true /p:OnlySupportedFrameworkTest=true --no-build --no-restore --configuration Release  --logger "console;verbosity=detailed"
      - name: Run Mono tests
        shell: pwsh
        run: |
          if ($IsWindows) {
              & "C:\Program Files\Mono\bin\mono.exe" src\Test\Rxmxnx.PInvoke.Common.Tests\bin\Release\netstandard2.1\nunitlite-runner.exe Rxmxnx.PInvoke.Common.Tests.dll -labels=All
              & "C:\Program Files\Mono\bin\mono.exe" src\Test\Rxmxnx.PInvoke.CString.Tests\bin\Release\netstandard2.1\nunitlite-runner.exe Rxmxnx.PInvoke.CString.Tests.dll -labels=All
              & "C:\Program Files\Mono\bin\mono.exe" src\Test\Rxmxnx.PInvoke.Extensions.Tests\bin\Release\netstandard2.1\nunitlite-runner.exe Rxmxnx.PInvoke.Extensions.Tests.dll -labels=All
              & "C:\Program Files\Mono\bin\mono.exe" src\Test\Rxmxnx.PInvoke.Buffers.Tests\bin\Release\netstandard2.1\nunitlite-runner.exe Rxmxnx.PInvoke.Buffers.Tests.dll -labels=All
          }
          else {
              mono src/Test/Rxmxnx.PInvoke.Common.Tests/bin/Release/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.Common.Tests.dll -labels=All
              mono src/Test/Rxmxnx.PInvoke.CString.Tests/bin/Release/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.CString.Tests.dll -labels=All
              mono src/Test/Rxmxnx.PInvoke.Extensions.Tests/bin/Release/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.Extensions.Tests.dll -labels=All
              mono src/Test/Rxmxnx.PInvoke.Buffers.Tests/bin/Release/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.Buffers.Tests.dll -labels=All
          }
      - name: Pack assembly
        working-directory: ./package/Rxmxnx.PInvoke.Extensions
        run: |
          dotnet pack -c Release /p:Version=9999.99.99.99-tmp /p:NoIntermediateBuild=true /p:UseEmbeddedDebugSymbols=true
      - name: Publish launcher
        working-directory: ./src/ApplicationTest/Rxmxnx.PInvoke.LauncherTest
        run: dotnet publish
      - name: Run launcher (compile)
        shell: pwsh
        run: |
          if ($IsWindows) {
            ./Rxmxnx.PInvoke.LauncherTest.exe "src\ApplicationTest" "artifacts" "compile"
          } else {
            chmod +x Rxmxnx.PInvoke.LauncherTest
            ./Rxmxnx.PInvoke.LauncherTest "src/ApplicationTest" "artifacts" "compile"
          }
      - name: Prepare files for FreeBSD VM
        if: runner.os == 'Linux'
        shell: bash
        run: |
          mkdir -p ./Test/Rxmxnx.PInvoke.{Common,CString,Extensions,Buffers}.Tests
          
          cp -R ./artifacts/Mono ./mono
          cp -R ./src/Test/Rxmxnx.PInvoke.Common.Tests/bin/Release/net9.0/ ./Test/Rxmxnx.PInvoke.Common.Tests/net9.0
          cp -R ./src/Test/Rxmxnx.PInvoke.Common.Tests/bin/Release/netstandard2.1/ ./Test/Rxmxnx.PInvoke.Common.Tests/netstandard2.1
          cp -R ./src/Test/Rxmxnx.PInvoke.CString.Tests/bin/Release/net9.0/ ./Test/Rxmxnx.PInvoke.CString.Tests/net9.0
          cp -R ./src/Test/Rxmxnx.PInvoke.CString.Tests/bin/Release/netstandard2.1/ ./Test/Rxmxnx.PInvoke.CString.Tests/netstandard2.1
          cp -R ./src/Test/Rxmxnx.PInvoke.Extensions.Tests/bin/Release/net9.0/ ./Test/Rxmxnx.PInvoke.Extensions.Tests/net9.0
          cp -R ./src/Test/Rxmxnx.PInvoke.Extensions.Tests/bin/Release/netstandard2.1/ ./Test/Rxmxnx.PInvoke.Extensions.Tests/netstandard2.1
          cp -R ./src/Test/Rxmxnx.PInvoke.Buffers.Tests/bin/Release/net9.0/ ./Test/Rxmxnx.PInvoke.Buffers.Tests/net9.0
          cp -R ./src/Test/Rxmxnx.PInvoke.Buffers.Tests/bin/Release/netstandard2.1/ ./Test/Rxmxnx.PInvoke.Buffers.Tests/netstandard2.1
      - name: Run launcher (run)
        shell: pwsh
        run: |
          if ($IsWindows) {
            ./Rxmxnx.PInvoke.LauncherTest.exe "src\ApplicationTest" "artifacts" "run"
          } else {
            ./Rxmxnx.PInvoke.LauncherTest "src/ApplicationTest" "artifacts" "run"
          }
      - name: Create Native Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-Artifact
          path: |
            ./artifacts/*NAOT*
            ./artifacts/*RFM*
      - name: Create Native Artifact Logs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-Artifact-Logs
          path: |
            ./artifacts/Native/*
            ./artifacts/Mono/*Mono.AOT.log
      - name: Prepare Mono artifact
        if: runner.os == 'Linux'
        shell: bash
        run: |
          rm -rf ./src/ApplicationTest/*LauncherTest
          rm -rf ./src/Intermediate
          rm -rf ./src/Tests
          rm -rf ./package/**/bin/**/net*
          rm -rf ./package/**/obj
          rm -rf ./artifacts
          rm -rf ./ssh
          rm ./Rxmxnx.PInvoke.LauncherTest
      - name: Init FreeBSD 13.5 VM
        if: runner.os == 'Linux'
        id: vm
        uses: vmactions/freebsd-vm@v1.2.1
        with:
          release: "13.5"
          usesh: true
          copyback: false
          prepare: |
            pkg install -y python39 sqlite3 unixODBC libgdiplus zip ca_root_nss dotnet
            /usr/local/bin/python3.9 -m ensurepip
            /usr/local/bin/python3.9 -m pip install pillow
            
            mkdir -p ~/fake-py39-pillow/metadata
            cat > ~/fake-py39-pillow/metadata/+COMPACT_MANIFEST <<EOF
            name: py39-pillow
            version: 9.9.9
            origin: fake/py39-pillow
            comment: Fake package to satisfy dependency on py39-pillow
            desc: This is a fake py39-pillow package to satisfy dependencies.
            categories: [python]
            maintainer: a@b.c
            www: https://py-pillow.org
            prefix: /usr/local
            licenselogic: single
            licenses: [MIT]
            flatsize: 0
            EOF
            pkg register -M ~/fake-py39-pillow/metadata/+COMPACT_MANIFEST
            
            fetch https://github.com/Thefrank/freebsd-port-sooners/releases/download/20230712/mono6.12-6.12.0.199_1.pkg
            pkg add mono6.12-6.12.0.199_1.pkg
          run: |
            dotnet dev-certs https --trust
            mono --version
      - name: Run Tests (FreeBSD 13.5)
        if: runner.os == 'Linux'
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          dotnet test ./Test/Rxmxnx.PInvoke.Common.Tests/net9.0/Rxmxnx.PInvoke.Common.Tests.dll --logger 'console;verbosity=detailed';
          dotnet test ./Test/Rxmxnx.PInvoke.CString.Tests/net9.0/Rxmxnx.PInvoke.CString.Tests.dll --logger 'console;verbosity=detailed';
          dotnet test ./Test/Rxmxnx.PInvoke.Extensions.Tests/net9.0/Rxmxnx.PInvoke.Extensions.Tests.dll --logger 'console;verbosity=detailed';
          dotnet test ./Test/Rxmxnx.PInvoke.Buffers.Tests/net9.0/Rxmxnx.PInvoke.Buffers.Tests.dll --logger 'console;verbosity=detailed';
      - name: Mono framework tests (FreeBSD 13.5)
        if: runner.os == 'Linux'
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          mono ./Test/Rxmxnx.PInvoke.Common.Tests/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.Common.Tests.dll -labels=All;
          mono ./Test/Rxmxnx.PInvoke.CString.Tests/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.CString.Tests.dll -labels=All;
          mono ./Test/Rxmxnx.PInvoke.Extensions.Tests/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.Extensions.Tests.dll -labels=All;
          mono ./Test/Rxmxnx.PInvoke.Buffers.Tests/netstandard2.1/nunitlite-runner.exe Rxmxnx.PInvoke.Buffers.Tests.dll -labels=All;
      - name: Run ApplicationTest (FreeBSD)
        if: runner.os == 'Linux'
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          cd ./src/ApplicationTest/Rxmxnx.PInvoke.ApplicationTest;
          dotnet run /p:UsePackage=true;
      - name: Mono-Run ApplicationTest (FreeBSD)
        if: runner.os == 'Linux'
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          mono ./Mono/Rxmxnx.PInvoke.ApplicationTest.mono.exe;
