name: FreeBSD Actions
on:
  workflow_call:
    inputs:
      run_tests:
        required: false
        default: false
        type: boolean
      build_artifacts:
        required: false
        default: false
        type: boolean
      package_version:
        required: false
        default: ''
        type: string
        
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SHOW_DIAGNOSTICS: ${{ inputs.run_tests }}
      PINVOKE_ONLY_NATIVE_TEST: ${{ inputs.package_version != '' }}
      PackageVersion: ${{ inputs.package_version }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Restore Internal NuGet Package
        uses: actions/cache/restore@v5
        if: inputs.build_artifacts == true
        with:
          path: ./package/Nuget
          key: internal-nuget-${{ github.run_id }}
          fail-on-cache-miss: true
          enableCrossOsArchive: true
      - name: Restore Compiled Tests
        if: inputs.run_tests == true
        uses: actions/cache/restore@v4
        with:
          path: |
            ./src/Test/**/bin/Release/netstandard2.1
            ./src/Test/**/bin/Release/net9.0
          key: internal-tests-bin-${{ github.run_id }}
          fail-on-cache-miss: true
      - name: Init FreeBSD 13.5 VM
        id: vm
        uses: vmactions/freebsd-vm@v1.3.6
        with:
          release: "13.5"
          usesh: true
          copyback: false
          sync: nfs
          envs: 'PackageVersion'
          prepare: |
            pkg update -f 
            pkg install -y python311 py311-pillow sqlite3 unixODBC libgdiplus zip ca_root_nss binutils dotnet powershell
            
            mkdir -p ~/fake-python39/metadata
            cat > ~/fake-python39/metadata/+COMPACT_MANIFEST <<EOF
            name: python39
            version: 9.9.9
            origin: fake/python39
            comment: Fake package to satisfy dependency on python39
            desc: This is a fake python39 package to satisfy dependencies.
            categories: [python]
            maintainer: a@b.c
            www: https://python.org
            prefix: /usr/local
            licenselogic: single
            licenses: [MIT]
            flatsize: 0
            EOF
            pkg register -M ~/fake-python39/metadata/+COMPACT_MANIFEST
            
            mkdir -p ~/fake-py39-pillow/metadata
            cat > ~/fake-py39-pillow/metadata/+COMPACT_MANIFEST <<EOF
            name: py39-pillow
            version: 9.9.9
            origin: fake/py39-pillow
            comment: Fake package to satisfy dependency on py39-pillow
            desc: This is a fake py39-pillow package to satisfy dependencies.
            categories: [python]
            maintainer: a@b.c
            www: https://py-pillow.org
            prefix: /usr/local
            licenselogic: single
            licenses: [MIT]
            flatsize: 0
            EOF
            pkg register -M ~/fake-py39-pillow/metadata/+COMPACT_MANIFEST
            
            fetch https://github.com/Thefrank/freebsd-port-sooners/releases/download/20230712/mono6.12-6.12.0.199_1.pkg
            pkg add -f mono6.12-6.12.0.199_1.pkg
            rm mono6.12-6.12.0.199_1.pkg
            rm -rf ~/fake-py39-pillow
            rm -rf ~/fake-python39
          run: |
            dotnet dev-certs https --trust
            mono --version
      - name: Run Tests (FreeBSD 13.5)
        if: inputs.run_tests == true
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          dotnet test ./src/Test/Rxmxnx.PInvoke.Common.Tests/bin/Release/net9.0/Rxmxnx.PInvoke.Common.Tests.dll --logger 'console;verbosity=detailed';
          dotnet test ./src/Test/Rxmxnx.PInvoke.CString.Tests/bin/Release/net9.0/Rxmxnx.PInvoke.CString.Tests.dll --logger 'console;verbosity=detailed';
          dotnet test ./src/Test/Rxmxnx.PInvoke.Extensions.Tests/bin/Release/net9.0/Rxmxnx.PInvoke.Extensions.Tests.dll --logger 'console;verbosity=detailed';
          dotnet test ./src/Test/Rxmxnx.PInvoke.Buffers.Tests/bin/Release/net9.0/Rxmxnx.PInvoke.Buffers.Tests.dll --logger 'console;verbosity=detailed';
      - name: Run Mono tests (FreeBSD 13.5)
        id: mono_freebsd
        if: inputs.run_tests == true
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          pwsh ./Run-MonoTest.ps1 -MonoPath "mono"
      - name: Results Mono tests
        if: always() && steps.mono_freebsd.outcome != 'skipped'
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          pwsh ./Print-MonoTest-Results.ps1
      - name: Publish Launcher (FreeBSD 13.5)
        if: inputs.build_artifacts == true
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          cd ./src/ApplicationTest/Rxmxnx.PInvoke.LauncherTest;
          dotnet publish -r freebsd.13-x64;
          rm -rf ./obj
      - name: Run launcher - Compile (FreeBSD 13.5)
        if: inputs.build_artifacts == true
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          ./Rxmxnx.PInvoke.LauncherTest "src/ApplicationTest" "artifacts" "compile";
      - name: Restore Compiled ApplicationTest (Mono-Build)
        uses: actions/cache/restore@v5
        if: inputs.build_artifacts == true
        with:
          path: ./artifacts/Mono/Rxmxnx.PInvoke.ApplicationTest
          key: internal-monoapp-bin-${{ github.run_id }}
          fail-on-cache-miss: true
          enableCrossOsArchive: true
      - name: Run launcher - Run (FreeBSD)
        if: inputs.build_artifacts == true
        shell: freebsd {0}
        run: |
          cd $GITHUB_WORKSPACE;
          ./Rxmxnx.PInvoke.LauncherTest "src/ApplicationTest" "artifacts" "run";
          rm -rf ~/.nuget/packages;
      - name: Create Native Artifact Logs
        if: inputs.build_artifacts == true && inputs.package_version == ''
        uses: actions/upload-artifact@v5
        with:
          name: FreeBSD.13-Artifact-Logs
          path: |
            ./artifacts/Native/*
            ./artifacts/Mono/*Mono.Link.log
            ./artifacts/Mono/*Mono.AOT*.log
            ./artifacts/Mono/*Mono.Bundle*.log
      - name: Create Release Logs Assets
        if: inputs.build_artifacts == true && inputs.package_version != ''
        shell: pwsh
        run: |
          $logPatterns = @(
            "./artifacts/Native/*",
            "./artifacts/Mono/*Mono.Link.log",
            "./artifacts/Mono/*Mono.AOT*.log",
            "./artifacts/Mono/*Mono.Bundle*.log"
          )
          ./ZipAndClean.ps1 -ZipName "FreeBSD.13-Assets-Logs.zip" -Patterns $logPatterns
      - name: Create Native Artifact
        if: inputs.build_artifacts == true && inputs.package_version == ''
        uses: actions/upload-artifact@v5
        with:
          name: FreeBSD.13-Artifact
          path: |
            ./artifacts/*NAOT*
            ./artifacts/*RFM*
            ./artifacts/Mono/X86/*
            ./artifacts/Mono/X64/*
            ./artifacts/Mono/Arm64/*
      - name: Create Release Assets
        if: inputs.build_artifacts == true && inputs.package_version != ''
        shell: pwsh
        run: |
          $binPatterns = @(
            "./artifacts/*NAOT*",
            "./artifacts/*RFM*",
            "./artifacts/Mono/X86/*",
            "./artifacts/Mono/X64/*",
            "./artifacts/Mono/Arm64/*"
          )
          ./ZipAndClean.ps1 -ZipName "FreeBSD.13-Assets.zip" -Patterns $binPatterns
      - name: Upload Release Assets
        if: inputs.build_artifacts == true && inputs.package_version != ''
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          gh release upload ${{ github.ref_name }} ./*-Assets*.zip --clobber
