name: Release to Nuget

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SNK_BASE64: ${{ secrets.SN_KEY }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x
      - name: Setup Tree
        run: sudo apt-get install tree unzip --assume-yes
      - name: Extract public key
        working-directory: ./package
        run: echo "${SNK_BASE64}" | base64 -d > Rxmxnx.PInvoke.snk
      - name: Create NuGet Package
        working-directory: ./package/Rxmxnx.PInvoke.Extensions
        run: dotnet pack -c Release -o ../Nuget /p:Version=${{ github.event.release.tag_name }} /p:PackageReleaseNotes="See https://github.com/josephmoresena/Rxmxnx.PInvoke.Extensions/releases/tag/${{ github.event.release.tag_name }}"
      - name: Push NuGet Package
        working-directory: ./package/Rxmxnx.PInvoke.Extensions
        run: |
          dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json
          for package in ../Nuget/Rxmxnx.PInvoke.Extensions*.*nupkg; do
            echo "-----------------------------------"
            TEMP_DIR=$(mktemp -d)
            unzip -q "$package" -d "$TEMP_DIR"
            ls -sh "$package"
            tree "$TEMP_DIR" -h --noreport | tail -n +2 | sed "s|$TEMP_DIR/||"
            rm -rf "$TEMP_DIR"
          done
          echo "-----------------------------------"
          rm ../Nuget/Rxmxnx.PInvoke.Extensions*.*nupkg
      - name: Create NuGet Package for Artifacts
        working-directory: ./package/Rxmxnx.PInvoke.Extensions
        run: |
          dotnet pack -c Release -o ../Nuget /p:Version=9999.99.99.99-tmp /p:NoIntermediateBuild=true /p:UseEmbeddedDebugSymbols=false

  buildtmp:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x
      - name: Create NuGet Package
        working-directory: ./package/Rxmxnx.PInvoke.Extensions
        run: |
          dotnet pack -c Release -o ../Nuget /p:Version=9999.99.99.99-tmp /p:NoIntermediateBuild=true /p:UseEmbeddedDebugSymbols=false
      
      - name: Install Mono Framework
        run: |
          sudo apt install ca-certificates gnupg --assume-yes
          sudo gpg --homedir /tmp --no-default-keyring --keyring /usr/share/keyrings/mono-official-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
          echo "deb [signed-by=/usr/share/keyrings/mono-official-archive-keyring.gpg] https://download.mono-project.com/repo/ubuntu stable-focal main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
          sudo apt update

          wget https://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          sudo dpkg -i libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          rm libssl1.1_1.1.0g-2ubuntu4_amd64.deb

          sudo apt install mono-complete mono-vbnc mono-dbg gdb libssl3
      - name: Compile ApplicationTest (Mono-Build)
        working-directory: ./src/ApplicationTest/Rxmxnx.PInvoke.ApplicationTest
        shell: bash
        run: |
          msbuild -restore /p:Configuration=Release /p:UsePackage=true /p:OutDir=../../../artifacts/Mono/Rxmxnx.PInvoke.ApplicationTest
          rm -rf ./obj

      - name: Cache NuGet Package
        uses: actions/cache/save@v4
        with:
          path: ./package/Nuget
          key: internal-nuget-${{ github.run_id }}
          enableCrossOsArchive: true
      - name: Cache Compiled ApplicationTest (Mono-Build)
        uses: actions/cache/save@v4
        with:
          path: |
            ./artifacts/Mono/Rxmxnx.PInvoke.ApplicationTest
          key: internal-monoapp-bin-${{ github.run_id }}
          enableCrossOsArchive: true

  webasm-actions:
    needs: [ buildtmp ]
    uses: ./.github/workflows/webasm-actions.yml
  freebsd-actions:
    needs: [ buildtmp ]
    uses: ./.github/workflows/freebsd-actions.yml
    with:
      run_tests: false
      build_artifacts: true
  cross-actions:
    needs: [ buildtmp ]
    uses: ./.github/workflows/cross-actions.yml
    with:
      run_tests: false
      build_artifacts: true
  
  cleanup-cache:
    name: Secure Cleanup
    needs: [ buildtmp, webasm-actions, freebsd-actions, cross-actions ]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Delete Internal Cache
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Deleting caches..."
          gh cache delete "internal-nuget-${{ github.run_id }}" || true
          gh cache delete "internal-monoapp-bin-${{ github.run_id }}" || true
